{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-4">
        <img src="assets/img/logo.png" class="img-thumbnail">
    </div>
    <div class="col-8">
        <h1>Árbol</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab fuga nemo id sit earum dicta obcaecati quaerat perspiciatis nesciunt illo impedit, in cumque libero pariatur dignissimos dolores cum mollitia facilis. </p>
    </div>

     
</div>
{{> footer }}